*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(249, 163, 177);
    margin: 0px;
    overflow-x:hidden;
}


.div1{
    margin: 0px;
    background-color: rgb(248, 122, 143);
    width: 100%;
    height: 75px;
}

.menu{
display: flex;
justify-content: space-around;

}

.menu a{
    margin-top: 20px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    
}

.dropdown{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0px;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(248, 122, 143);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid pink;
  }

  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

h1{
    font-size: 45px;
    color: white;
    margin-top: 5px;
    
}

img{
    width: 1920px;
    height: 300px;
    
}

.imgb{
  /*  display: flex;
    justify-content: space-around;*/
    
}


.div2{
    background-color: rgb(248, 122, 143);
    width: 100%;
    height: 85px;
    

}

.div2 p{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.card{
    background-color: rgb(248, 122, 143);
    width: 250px;
    height: 295px;
    border-radius: 10px;
    
}

.card h3{
    font-size: 25px;
    text-align: center;
    margin-top: 7px;
}

.card img{
    width: 100%;
    height: 130px;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
}

.card p{
    text-align: center;
    font-size: 17px;
    margin-top: -10px;
}

.bnt{
    display: flex;
    justify-content: center;
}

.bnt:hover button {
    transition: 1s;
    background-color: rgb(255, 162, 178);
    color: black;
}

.bnt button{
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 50%;
    height: 30px;
    margin-top: -5px;
    border-radius: 12px;
    cursor: pointer;
}

.cards2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 3px;
    margin-top: 20px;
}

.cat{
    
}

.cat{
    background-color: rgb(248, 122, 143);
    width: 300px;
    height: 100px;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 794px;
}

.cat h2{
    text-align: center;
    padding: 30px;
}

.cat2{
    background-color: rgb(248, 122, 143);
    width: 300px;
    height: 100px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 794px;
}

.fest{
text-align: center;
padding: 30px;
}

hr{
    width: 1300px;
    margin-top: 50px;
    
}

.form1{
    background-color: rgb(248, 122, 143);
    width: 600px;
    height: 400px;
    margin-left: 459px;
    
}



footer {
    background-color: rgb(248, 122, 143);
    text-align: center;
    padding: 10px;
    bottom: 0px;
    margin-top: 2500px;

}

footer a{
    font-size: ;
}











/*
footer{
    text-align: center;
    padding: 1rem;
    background-color: pink;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}
*/






























